.jumbotron{
  margin: 0;
  margin-bottom: -5%;
  padding: 0;
  background-image: url("/images/Group 88.png");
  background-size: cover;
  background-color: #000033;
}

h1{
  font-size: 42px;
  font-weight: 900;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 15%;
  letter-spacing: 6px;
}
