body{
  font-family: museo-sans, sans-serif;
  font-style: normal;
}

.jumbotron{
  box-shadow: 0px 20px 99px rgba(144, 144, 144, .42);
  background-position: center;
}

.container-fluid{
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.navbar{
  padding: 0;
  padding-top: 2%;
  margin-bottom: 15px;
}

.navbar-brand{
  padding: 0;
  margin-right: 5%;
  margin-left: 1%;
  margin-bottom: 3%;
}

.xsBrandImg{
  margin-left: 20%;
}

.navbar-toggler{
  margin-right: 3%;
  margin-bottom: 3%;
}

.navbar-dark .navbar-toggler{
  border-color: white;
}

.nav-item{
  padding-right: 5px;
  padding-left: 5px;
  letter-spacing: 3px;
  margin-left: 2%;
  margin-right: 2%;
}

.nav-link{
  color: white;
}

#activeLink{
  border-top: 5px solid #00b8e6;
  padding-top: 10px;
  display: inline;
}

a:hover{
  text-decoration: none;
}

.navTitle{
  font-size: 20px;
  font-weight: bold;
  font-weight: 900;
  margin-bottom: 0;
  color: white;
  display: inline-block;
}

.navDescription{
  margin-top: 3px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  width: 90%;
  display: inline-block;
}

button{
  cursor: pointer;
}

footer{
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2%;
  color: #6E6A67;
  font-size: 18px;
  font-weight: 500;
}

.footerBrandLogo{
  text-align: center;
}

.footerBrandLogo img{
  margin-bottom: 10px;
}

hr{
  border-width: 1px;
  border-color: black;
  width: 35%;
  margin-top: 20px;
}

.rightHR{
  float: right;
  margin-right: 10%;
}

.leftHR{
  float: left;
  margin-left: 10%;
}

.footerIcons {
  text-align: center;
  margin: 0;
}

.footerIcons a:hover{
  text-decoration: none;
}

.fa{
  font-family: 'FontAwesome' !important;
  color: #6E6A67;
}
