body{
  font-family: museo-sans, sans-serif;
  font-style: normal;
}

.container-fluid{
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.navbar{
  padding: 0;
  padding-top: 2%;
}

.navbar-brand{
  padding: 0;
  margin-right: 5%;
  margin-left: 1%;
}

.navbar-toggler{
  margin-right: 3%;
}

.navbar-dark .navbar-toggler{
  border-color: white;
}

.nav-item{
  padding-right: 5px;
  padding-left: 5px;
  letter-spacing: 3px;
  margin-left: 4%;
  margin-right: 4%;
}

.nav-link{
  color: white;
}

.nav-link:active{
  border-top: 5px solid #00b8e6;
}

.navTitle{
  font-size: 20px;
  font-weight: bold;
  font-weight: 900;
  margin-bottom: 0;
  color: white;
}

.navDescription{
  margin-top: 3px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

button{
  cursor: pointer;
}

footer{
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2%;
  color: #6E6A67;
  font-size: 18px;
  font-weight: 500;
}

.footerBrandLogo{
  text-align: center;
}

.footerBrandLogo > img {
  max-width: 65%;
}
