.jumbotron{
  margin: 0;
  margin-bottom: -5%;
  padding: 0;
  background-image: url("../images/Hero Background.png");
  background-size: cover;
  background-color: #000033;
}

h1{
  font-size: 32px;
  font-weight: 900;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 2%;
  letter-spacing: 6px;
}

.softwareImg{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 15%;
}

.mainContent{
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 4%;
  padding-top: 2%;
  background-color: white;
  border-radius: 4px;
}

@media screen and (max-width: 992px) {
  .mainContent {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }
}

h2{
  font-weight: 700;
  text-align: center;
  color: #1199AA;
  margin-left: 19%;
  margin-right: 19%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.mainContent p{
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 2%;
  font-weight: 300;
}

.mainContentButton{
  width: 55%;
  background-color: #009BAD;
  border-color: #009BAD;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: auto;
  margin-bottom: auto;
}

.mainContentLinks{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.mainContentLinks img{
  margin-bottom: 4%;
}

.mainContentLinks h3{
  margin-bottom: 4%;
  color: #444C44;
  font-weight: 900;
  font-size: 18px;
}

.mainContentLinks p{
  margin-bottom: 6%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  font-size: 14px;
}

#extraPaddingBuffer{
  padding-bottom: 6px;
}

.fMotionPress{

}

.fMotionPress .col-sm-6{
  padding: 10px;
}

.fMotionPress a{
  text-decoration: none;
  color: #444C44;
}

.fMotionPress a:hover{
  text-decoration: none;
}

.fMotionPress img{
  padding: 0;
  margin-bottom: -10%;
  z-index: -1;
  position: relative;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, .16);
}

.fMotionPressSubText{
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.underline{
  border-bottom: 1px solid red;
  padding-bottom: 5px;
  margin-left: 5%;
  font-weight: 500;
}

.underlineWrapper{
  padding-top: 3%;
}

h4{
  margin-top: 18px;
  color: #444C44;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 900;
}

.fMotionPressSubText p{
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 300;
}

.carousel.slide{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

.carousel-control{
  opacity: 1;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  height: 39px;
  width: 39px;
}

.carousel-control-prev-icon {
  background-image: url("/images/Group 86@2x.png");
}

.carousel-control-next-icon {
  background-image: url("/images/Group 85@2x.png");
}

.carousel-item{
  width: 90%;
  margin: auto;
}

.carouselText{
  margin-left: 10%;
  margin-right: 10%;
  color: #707070;
  font-weight: 500;
  font-size: 20px;
}

.carousel.slide img{
  margin-left: 10%;
  float: left;
}

.carouselText2{
  margin-top: 5%;
  margin-left: 20%;
  color: #707070;
  font-size: 20px;
  font-weight: 300;
}

.clients{
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 40px;
}

.clients p{
  color: #444C44;
  border: #000000;
  font-size: 18px;
  font-weight:  500;
}

.clients button{
  background-color: #EE5544;
  border-color: #EE5544;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 4%;
  padding-left: 4%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 5;
  position: relative;
}

.clientImgBig{
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
  border-color: rgba(66, 66, 66, 0.18);
  padding: 50px;
}
