.jumbotron{
  margin: 0;
  padding: 0;
  background-image: url("../images/banner-press@2x.png");
  background-size: cover;
  background-color: #000033;
}

.layer{
  background-color: rgba(0, 6, 149, .51);
}

h1{
  font-size: 32px;
  font-weight: 900;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 6%;
  padding-bottom: 12%;
  letter-spacing: 6px;
}

.mainContent{
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.mainContentMobile{
  width: 100%;
}

.mainContentMobile .col-lg-6{
  padding: 0;
}

.singlePressWrapper{
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.press{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.press img{
  padding: 0;
  margin-bottom: -10%;
  z-index: -1;
  position: relative;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, .16);
  height: 360px;
}

.pressPicWide{
  height: 480px !important;
}

.inc5000Wrapper{
  max-width: 100%;
  height: 360px;
  margin-bottom: -10%;
  z-index: -1;
  position: relative;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, .16);
  background-image: linear-gradient(#8F31C9, #651919);
}

.inc5000Wrapper img{
  width: 200px;
  height: 200px;
  z-index: 1;
  box-shadow: none;
  border-radius: 120px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.pressSubText{
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.pressLink{
  text-decoration: none;
  color: #444C44;
}

.pressLink:hover{
  text-decoration: none;
  color: #444C44;
}

.pressSubText p{
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 300;
}

h4{
  margin-top: 18px;
  color: #444C44;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 900;
}

.underline{
  border-bottom: 1px solid red;
  padding-bottom: 5px;
  margin-left: 5%;
  font-weight: 500;
}

.underlineWrapper{
  padding-top: 3%;
}

.inquiries{
  text-align: center;
  margin-top: 70px;
}

h5{
  font-weight: 900;
  font-size: 22px;
  color: #3C3835;
}

.inquiries p{
  color: #444C44;
}

.inquiries button{
  width: 250px;
  height: 50px;
  border-radius: 3px;
  color: white;
  background-color: #EE5544;
  border: none;
}
