.jumbotron{
  margin: 0;
  margin-bottom: -5%;
  padding: 0;
  background-image: url("/images/Group 88.png");
  background-size: cover;
  background-color: #000033;
}

h1{
  font-size: 42px;
  font-weight: 900;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 15%;
  letter-spacing: 6px;
}

.mainContent{
  margin-left: 16%;
  margin-right: 16%;
  margin-bottom: 4%;
  padding-top: 2%;
  background-color: white;
  border-radius: 4px;
}

.mainContentMobile{
  margin-bottom: 4%;
  padding-top: 2%;
  background-color: white;
}

.col-sm-4{
  text-align: center;
  padding-right: 0;
}

.mainContentLink:hover{
  text-decoration: none;
}

.mainContentLink p{
  display: inline-block;
}

.mainContent p{
  font-weight: 300;
  font-size: 32px;
  color: #444C44;
  margin-right: 8%;
  margin-left: 8%;
}

.mainContentMobile p{
  font-weight: 300;
  font-size: 28px;
  color: #444C44;
  margin-right: 8%;
  margin-left: 8%;
}

.mainContentNav{
  margin-bottom: 40px;
  padding: 0;
}

.mainContentNav p{
  font-weight: 900;
  font-size: 20px;
  color: #444C44;
  text-align: center;
}

.row.mobile{
  margin-right: 0px;
}

.softwareConsultation{
  width: 70%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.softwareConsultation h2{
  color: #444C44;
  font-weight: 900;
  font-size: 40px;
  display: inline;
  margin-left: 30px;
}

.softwareConsultationMobile{
  margin-top: 30px;
  text-align: center;
}

.softwareConsultationMobile h2{
  color: #444C44;
  font-weight: 900;
  font-size: 30px;
  display: inline-block;
  margin-left: 8%;
  margin-right: 8%;
}

.darrinWithClient{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: -5%;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, .16);
}

.darrinWithClientMobile{
  margin-bottom: 0%;
}

.consultationPitch{
  z-index: 2;
  position: relative;
  width: 75%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.consultationPitchMobile{
  z-index: 2;
  position: relative;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.vertLine{
  width: 50%;
  height: 100px;
  border-right: 1px solid #EE5544;
  margin-top: 15px;
  margin-bottom: 15px;
}

h3{
  color: #444C44;
  font-weight: 900;
  font-size: 28px;
  margin-left: 8%;
}

.consultationPitch p{
  font-size: 28px;
}

.businessDevTeam{
  margin-left: 8%;
}

.businessDevTeam.mobile{
  margin-left: 0%;
}

.businessDevTeam td{
  margin-top: 30px;
  padding-right: 10px;
  padding-top: 15px;
}

.businessDevTeam p{
  font-size: 22px;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

h4{
  font-weight: 500;
  font-size: 22px;
  text-shadow: 1px black;
  color: #444C44;
  text-align: center;
  margin-top: 75px;
}

button{
  background-color: #EE5544;
  border-color: #EE5544;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 8%;
  padding-left: 8%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: block;
}

.mobileNavP{
  margin-top: 30px;
  text-align: center;
  font-size: 20px !important;
}
