.jumbotron{
  margin: 0;
  padding: 0;
  background-image: url("../images/banner-forward_motion@2x.png");
  background-size: cover;
  background-color: #000033;
}

h1{
  font-size: 34px;
  font-weight: 900;
  color: #444C44;
  text-align: center;
  padding-top: 6%;
}

.mainContent{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

p{
  color: #444C44;
}

.firstP{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  font-weight: 300;
  font-size: 22px;
}

.iframeWrapper{
  text-align: center;
  padding-top: 30px;
}

.logoContactRow{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
}

.leftMotionLogo{

}

.rightMotionText{
  margin-top: 50px;
}

.rightMotionText h3{
  color: #444C44;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
}

.rightMotionText p{
  text-align: center;
}

.rightMotionText button{
  background-color: #EE5544;
  border-color: #EE5544;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 4%;
  padding-left: 4%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 5;
  position: relative;
}
