.jumbotron{
  margin: 0;
  padding: 0;
  background-image: url("https://harrisonmiller.github.io/JG-Website-2.0/images/culture hero.png");
  background-size: cover;
  background-color: #000033;
  background-position: center;
}

ul{
  list-style-type: none;
}

.mainContent{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  width: 95%;
  padding-top: 2%;
  border-radius: 4px;
}

.mainContent p{
  font-weight: 300;
  font-size: 24px;
  color: #444C44;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.imgWrapperMobile{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.mainContentNav{
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-left: 0;
}

.mainContentNav p{
  font-weight: 900;
  font-size: 20px;
  color: #444C44;
  text-align: center;
}

.mainContentLink:hover{
  text-decoration: none;
}

.mainContentNav li{
  text-align: center;
}

.partySwitch{
  display: block;
  width: 120px;
  margin-left: 60%;
}

.partySwitch p{
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  margin-right: auto;
  margin-bottom: 15px;
  color: #444C44;
}

.switch {
  position: relative;
  display: inline-block;
  margin-left: 25px;
  margin-right: auto;
  width: 66px;
  height: 27px;
}

/* Hides the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 36px;
  width: 36px;
  left: -14px;
  bottom: -3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #009BAD;
}

input:focus + .slider {
  box-shadow: 0 3 6px rgba(0, 0, 0, .16);
}

input:checked + .slider:before {
  -webkit-transform: translateX(56px);
  -ms-transform: translateX(56px);
  transform: translateX(56px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

h2{
  font-size: 22px;
  font-weight: 700;
  color: #444C44;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.teamJGDivider{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70%;
  height: auto;
}

#execLeft{
  padding-left: 9px;
}

#execRight{
  padding-right: 9px;
}

.col-md-3{
  padding: 9px;
}

.team.row{
  margin-right: 0;
  margin-left: 0;
}

.team.row .col{
  padding: 0;
}

.team.row .col.left{
  padding-right: 15px;
}

.caption {
  position: relative;
  margin-top: -16px;
  background-color: rgba(18,17,20, .47);
  overflow: hidden;
  white-space: nowrap;
}

.caption h2{
  color: white;
  font-weight: 900;
  font-size: 13px;
  text-align: center;
  margin: 0;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  margin-bottom: 20px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}
